database
wiitdb.zip

.idea
*.iml

.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders

# External tool builders
.externalToolBuilders/
*.launch
*.pydevproject

*.pyc
__pycache__

dolphin_normalizer.egg-info
dist
/build